In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("homeprices.csv")
df

   area   price
0  2600  550000
1  3000  565000
2  3200  610000
3  3600  680000
4  4000  725000

In [ ]:
from sqlalchemy import create_engine
db = create_engine("mysql+pymysql://root:"+'password'+"@localhost/dev_data")

In [20]:
# import MySQLdb
# db = MySQLdb.connect("localhost", "root", "password", "dev_data")
# df.to_sql("homeprices", con=db, if_exists='replace', index=False)
"""
MySQLdb is not supported for this we have to use sqlalchemy and pymysql
"""

'\nMySQLdb is not supported for this we have to use sqlalchemy and pymysql\n'

In [ ]:
df.to_sql("homeprices", con=db, if_exists='replace', index=False)

In [ ]:
df =  pd.read_sql("SELECT area, price FROM dev_data.homeprices", db)
df