In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model
import matplotlib.pyplot as plt

In [11]:
df = pd.read_csv("homeprices.csv")
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [12]:
import math
df.bedrooms.median()

4.0

In [13]:
df.bedrooms.fillna(df.bedrooms.median())

0    3.0
1    4.0
2    4.0
3    3.0
4    5.0
5    6.0
Name: bedrooms, dtype: float64

In [14]:
df.bedrooms = df.bedrooms.fillna(df.bedrooms.median())
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [16]:
# price is target variable
model = linear_model.LinearRegression()
model.fit(df.drop('price', axis='columns'), df.price)

LinearRegression()

In [17]:
model.coef_ #slope # age  coef  -3231.71790863 on negrative beacuse age increase price reduce

array([  112.06244194, 23388.88007794, -3231.71790863])

In [18]:
model.intercept_ # intercept

221323.00186540396

In [19]:
model.predict([[3000, 3, 40]])

array([498408.25158031])

In [20]:
model.predict([[3000, 3, 10]])

array([595359.7888393])

In [22]:
112.06244194*3000 + 23388.88007794*3 +  -3231.71790863 * 40 + 221323.00186540396

498408.251574024

In [ ]:
model.predict([[2500, 4, 5]])